.login-view{
	// font-weight: 100;
	input{
		height: 2em;
		border-radius: 2px;
		border: none;
		margin: 30px 0px;
		padding-top: 3px;
		width: 200px;
		max-width: 800px;
		outline: none;
		font-size: .8em;}
	input:nth-of-type(1){
		margin-bottom: 0;}
	::-webkit-input-placeholder {
		color: #666;}
	button{
		padding: .8em 1em .6em;
		border-radius: 2px;
		border: none;
		background-color: #558;
		display: block;
		margin: 0 auto;
		outline: none;}
}