.home-view{
	ul{
		list-style: none;
		padding: 0;}
	li{
		text-align: left;
		margin-bottom: 2em;
		div{
			padding: 1em;
			border: 1px solid #222;
			max-width: 560px;
			margin: 0 auto;}
		.appointment-date{
			border-radius: 10px 10px 0 0;
			border-bottom: none;}
		.appointment-description{
			border-radius: 0 0 10px 10px;
			background-color: #222;
			color: white;}
		p{
			margin: 0 0 .5em 0;}
	}
}