/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.scss';
// @import 'mixins/foo.scss';
// @import 'mixins/bar.scss';
// @import 'mixins/baz.scss';
//
// @import 'styleguide.scss';
// @import 'pages/login.scss';
// @import 'pages/signup.scss';
//
// etc.

body{
	background-color: #F2F2F2;
	// text-align: center;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Futura';
	color: #079DED;}

a, p, input, span, button, select{
	font-family: 'Helvetica';
	font-weight: 300;
	text-decoration: none;}

header{
	max-width: 48.75em;
	margin: 0 auto;
	h1{
		margin-left: 1em;
		margin-bottom: -.8em;}
}

nav{
	border-bottom: 1px solid #222;
	padding-bottom: .5em;
	text-align: center;
	a{
		display: block;
		font-weight: 100;
		color: #222;}
	a:hover, a:active{
		color: #079DED;}
	.ions{
		float: right;}
	.ion-navicon{
		font-size: 1.5em;
		margin-right: 1.8em;}
	.ion-close{
		margin-top: .2em;
		margin-right: 2.7em;}
	.ion-close:hover, .ion-close:active{
		color: #F03C3C;
	}
	.navs{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.clear-float{
	clear: both;}


.home-view, .logreg-view, .appointment-view{
	margin: 0 auto;
	max-width: 48.75em;
	text-align: center;
}


.errors{
	color: white;}

.selected{
	color: #079DED;}

main{
	margin-top: 2em;}

@import 'landing.scss';
@import 'home.scss';
@import 'logreg.scss';
@import 'appointment.scss';

