.logreg-view{
	form{
		margin-top: 3em;
	}
	input{
		border: none;
		outline: none;
		border-bottom: 1px solid #222;
		background-color: rgba(0,0,0,0);
		font-size: 1em;
		padding: .3em;}
	input:focus{
		border: 1px solid #079DED;
		border-radius: 2px;}
	button{
		padding: .4em 1em;
		background-color: #079DED;
		color: white;
		border: none;
		border-radius: 2px;
		outline: none;
		font-size: 1em;
	}
	button:active{
		border: 1px solid #222;
		background-color: #12C928;}
}